<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Note</title>
</head>
<body>
    <form action="createnote/" method ="POST">
        {% csrf_token %}
        <label>Title</label><br>
        <input name = 'newtitle'><br><br>
        Description: <br>
        <input name="newdescription" style="font-size: 12pt; height: 500px; width:280px;"><br><br>
        <input type="submit" value="Save">

    </form>
</body>
</html>